<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <script src="https://d3js.org/d3.v4.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.2.4/vue.min.js" ></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

  <link href="https://fonts.googleapis.com/css?family=Passion+One" rel="stylesheet">

  <title>Hino Bus</title>

  <style>
    body {
      background: darkred;
    }

    #container {
      text-align: center;
      height: 100vh;
    }

    #main {
      height: 100%;
    }

    span.current_time, span.next_bus_time {
      margin: 0px 30px 0px 30px;
      font-family: 'Passion One', cursive;
      font-size: 96px;
      color: white;
    }

    span.remain_time {
      font-family: 'Passion One', cursive;
      font-size: 192px;
      color: white;
    }
  </style>

</head>

<body>
  <div id="container">

      <div id="main">
        <div class="row" v-if="operated">
          <span class="remain_time">Next Bus: {{remain_moments}}</span>
        </div>
        <div class="row" v-if="operated">
          <span class="current_time">Current Time: {{now_date}}</span>
        </div>
        <div class="row" v-if="operated">
          <span class="next_bus_time">Next Bus Time: {{next_bus_date}}</span>
        </div>
        <div class="row" v-else>
          <span class="remain_time">Today is Oyasumi</span>
        </div>
      </div>
  </div>
  <script type="text/javascript">
    // TODO: 日本標準時に変更
    const hino_month = [10, 11, 12, 1, 2];
    const jst_hours = 1000 * 60 * 60 * 9;

    const bus_time_list_wendsday = [
      {date: '2019-01-01 07:50', wendsday: false},
      {date: '2019-01-01 08:25', wendsday: true},
      {date: '2019-01-01 08:30', wendsday: false},
      {date: '2019-01-01 08:35', wendsday: true},
      {date: '2019-01-01 08:40', wendsday: false},
      {date: '2019-01-01 09:10', wendsday: false},
      {date: '2019-01-01 09:45', wendsday: true},
      {date: '2019-01-01 09:50', wendsday: false},
      {date: '2019-01-01 09:10', wendsday: false},
      {date: '2019-01-01 10:20', wendsday: false},
      {date: '2019-01-01 10:30', wendsday: false},
      {date: '2019-01-01 10:50', wendsday: true},
      {date: '2019-01-01 11:00', wendsday: false},
      {date: '2019-01-01 12:20', wendsday: false},
      {date: '2019-01-01 12:45', wendsday: true},
      {date: '2019-01-01 12:50', wendsday: true},
      {date: '2019-01-01 12:50', wendsday: false},
      {date: '2019-01-01 13:00', wendsday: false},
      {date: '2019-01-01 13:30', wendsday: false},
      {date: '2019-01-01 13:50', wendsday: false},
      {date: '2019-01-01 14:15', wendsday: true},
      {date: '2019-01-01 14:20', wendsday: false},
      {date: '2019-01-01 14:35', wendsday: true},
      {date: '2019-01-01 14:40', wendsday: false},
      {date: '2019-01-01 15:10', wendsday: false},
      {date: '2019-01-01 15:20', wendsday: false},
      {date: '2019-01-01 15:55', wendsday: true},
      {date: '2019-01-01 16:00', wendsday: false},
      {date: '2019-01-01 16:20', wendsday: false},
      {date: '2019-01-01 16:20', wendsday: true},
      {date: '2019-01-01 17:40', wendsday: false},
      {date: '2019-01-01 17:50', wendsday: true},
      {date: '2019-01-01 18:00', wendsday: false},
      {date: '2019-01-01 18:05', wendsday: true},
      {date: '2019-01-01 18:10', wendsday: false},
      {date: '2019-01-01 18:30', wendsday: false},
    ];

    let now_date = new Date();
    let day_of_week = now_date.getDay();

    let hinoday_flag = (day_of_week !== 3 && hino_month.includes(now_date.getUTCMonth()))? true: false;
    let operated_flag = (day_of_week !== 0 && day_of_week !== 7)? true: false;

    let date_format = 'YYYY:MM:DD HH:mm:ss';
    let next_bus_index = getTargetIndex(bus_time_list_wendsday, hinoday_flag, now_date);
    let next_bus_date = new Date(bus_time_list_wendsday[next_bus_index]["date"]);
    console.log(next_bus_date);

    next_bus_date.setTime(next_bus_date.getTime() + jst_hours);
    now_date.setTime(now_date.getTime() + jst_hours);

    let diff_min = parseInt(( getBusMins(next_bus_date) - getBusMins(now_date)), 10);

    const vue_app = new Vue({
      el: '#main',
      data: {
        operated: operated_flag,
        now_date: getDateStr(now_date, now_date),
        next_bus_date: getDateStr(now_date, next_bus_date),
        remain_moments: parseInt(diff_min).toString() + "minutes",
      },
    });

    setInterval(()=>{
      now_date = new Date();
      next_bus_index = getTargetIndex(bus_time_list_wendsday, hinoday_flag, now_date);
      next_bus_date = new Date(bus_time_list_wendsday[next_bus_index]["date"]);

      next_bus_date.setTime(next_bus_date.getTime() + jst_hours);
      now_date.setTime(now_date.getTime() + jst_hours);

      day_of_week = now_date.getDay();
      diff_min = parseInt(( getBusMins(next_bus_date) - getBusMins(now_date)), 10);

      vue_app.now_date = getDateStr(now_date, now_date);
      vue_app.next_bus_date = getDateStr(now_date, next_bus_date);
      vue_app.remain_moments = parseInt(diff_min).toString() + "minutes";
    }, 1000)

    function getBusMins(target_date) {
      let hours = target_date.getHours();
      let mins = target_date.getMinutes();
      let seconds = target_date.getSeconds();
      return hours*60 + mins + seconds/60;
    }

    function getDateStr(now_date, next_bus_date) {
      let now_date_str = now_date.toISOString();
      let next_bus_date_str = next_bus_date.toISOString();
      return now_date_str.split('T')[0] + " " + next_bus_date_str.split('T')[1];
    }

    function getTargetIndex(bus_time_list, hinoday_flag, current_time){
      let ret_index = 0;
      bus_time_list.some( function(bus_time, index) {
        if (!bus_time["wendsday"] || (hinoday_flag && bus_time["wendsday"])) {
          let bus_date = new Date(bus_time["date"]);
          let diff_min = getBusMins(bus_date) - getBusMins(current_time);
          if (diff_min > 0) {
            ret_index = index;
            return true;
          }
        }

      });
      return ret_index;
    }
  </script>
</body>
